---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-naming,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-narrowing-conversions,
  -readability-implicit-bool-conversion,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -bugprone-narrowing-conversion,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-math-missing-parentheses

WarningsAsErrors: ""
HeaderFilterRegex: "include/.*"
FormatStyle: file
...
